/* Add decorative elements */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

.logo {
  display: inline-block;
  margin-right: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #200c4c;
  padding-left: 20px;
  padding-right: 20px;
  color: #c8ff2c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 100px;
}

nav ul {
  display: flex;
  margin-top: 0; /* Add margin-top to create space between the header and content */
}

nav ul li a {
  color: #c8ff2c;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.Home h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Home p {
  font-size: 18px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.logo-size {
  width: 150px;
}

/* Layout */
.Layout {
  max-width: 1200px;
  margin: 80px auto 0;
  padding: 20px;
}

/* Store */
.Store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.Store img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Store h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.Store p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777;
}

.Store button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Store button:hover {
  background-color: #555;
}

.Store ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: flex-start;
  gap: 20px;
}

.Store li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Store li:hover {
  transform: translateY(-5px);
}

.Store h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.store-header {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Product */
.Product {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  text-align: center;
  margin-bottom: 80px;
}

.Product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Product h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.Product p {
  font-size: 18px;
  margin-bottom: 20px;
}

.Product button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Cart */
.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 120px;
  padding: 50px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px; /* Increase the margin-top to push the content below the header */
  position: relative; /* Add position relative */
  z-index: 1; /* Add z-index to ensure the content appears above the header */
  margin-bottom: 100px; /* Add margin-bottom to create space for the footer */
}

.CartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Added width */
}

.CartItem img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.CartItem h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.CartItem p {
  font-size: 16px;
  margin-bottom: 5px;
}

.CartItem button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Footer */
.footer {
  background-color: #200c4c;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px; /* Set a fixed height for the footer */
}

.footer-text {
  color: #c8ff2c;
}

.cart-item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cart-item:hover {
  transform: translateY(-5px);
}

.cart-item-image {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item-store {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item-remove {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cart-heading {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.cart-total {
  font-size: 18px;
  margin-bottom: 20px;
}

.cart-checkout-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-checkout-button:hover {
  background-color: #555;
}